<div class="box">

  <article class="media">

    <div class="media-left">

      <figure class="image is-64x64">

        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">

      </figure>

    </div>

    <div class="media-content">

      <div class="content">

        <p>

          <strong>Event Name:</strong>
          <br>
          <small>Event Host: </small>

          <br>
Event Details: 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        <br>  <small>Event Host : </small></p>
          <button class="button rounded is-link"> Sign-Up </button><button class="button rounded is-danger"> Watch Live</button>
        

      </div>

      

        

         

            

         

          

         

          

           

              

            

          

         

            

             

            

          

      

      

    </div>

  </article>

</div>

  

  
     
        
       

      
     
        
     
      
    

   

      
      
    
    
   
 

 


