<footer class="footer">

  <div class="content has-text-centered">

    <p>

      <strong>BUILT</strong> from the ground up by</br><a href="/">Mattitsu</a>

      



    </p>

  </div>

</footer>
<script>
  document.addEventListener('DOMContentLoaded', () => {

  // Functions to open and close a modal

  function openModal($el) {

    $el.classList.add('is-active');

  }

  function closeModal($el) {

    $el.classList.remove('is-active');

  }

  function closeAllModals() {

    (document.querySelectorAll('.modal') || []).forEach(($modal) => {

      closeModal($modal);

    });

  }

  // Add a click event on buttons to open a specific modal

  (document.querySelectorAll*('.js-modal-trigger') || []).forEach(($trigger) => {

    const modal = $trigger.dataset.target;

    const $target = document.getElementById(modal);

    console.log($target);

    $trigger.addEventListener('click', () => {

      openModal($target);

    });

  });

  // Add a click event on various child elements to close the parent modal

  (document.querySelectorAll*('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {

    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {

      closeModal($target);

    });

  });

  // Add a keyboard event to close all modals

  document.addEventListener*('keydown', (event) => {

    const e = event || window.event;

    if (e.keyCode === 27) { // Escape key

      closeAllModals();

    }

  });

});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
<script>M.AutoInit();</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

   

</body>
</html>