<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
      <!-- Compiled and minified CSS -->
      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Bulma Compiled and minified JavaScript -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <!-- Matereilie Compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
    <!-- Compiled and minified JavaScript -->
    
            
    
    
</head>
<body>




  

 

      

      

    

    

      

   

    

    

    

    

    

    



  


  

    

   

    

    

 
   

  
     
      

      
       
     

 
