<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="/style.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    
            
    
    
</head>
<body>
  <nav  role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://cdn.glitch.global/0dc001d4-d461-4842-8ae3-eb2c13a2407a/53d1dbf25006904e648a82371454b985055efc3ad81b7ae10cf0dd09731e4c0f.0.png?v=1648815418568" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>