<div class="field is-grouped is-grouped-multiline center">

  <div class="control">

    <div class="tags has-addons">

      <a class="tag is-link">PUBGM</a>

      <a class="tag is-delete purple"></a>

    </div>

  </div>

  <div class="control">

    <div class="tags has-addons">

      <a class="tag is-link">CODM</a>

      <a class="tag is-delete purple"></a>

    </div>

  </div>

  <div class="control">

    <div class="tags has-addons">

      <a class="tag is-link">NEWSTATE</a>

      <a class="tag is-delete purple"></a>

    </div>

  </div>

  <div class="control">

    <div class="tags has-addons">

      <a class="tag is-link">Other Games</a>

      <a class="tag is-delete purple"></a>

    </div>

  </div>

  
</div>