<section class="hero is-black is-centered s-8">
  <div class="hero-body primary">
    <p class="title center is-underlined">
      EVENTS HUB
    </p>
    <p class="subtitle center is-italic"> 
      Powered by Rafiki - The Gaming Hub Bot
    </p>
  </div>
  
 
 
    
    <ul class="tabs is-boxed tabs-transparent purple">
        <li class="tab"><a href="#test1">Mon</a></li>
        <li class="tab"><a class="active" href="#test2">Tue</a></li>
        <li class="tab disabled"><a href="#test3">Wed</a></li>
        <li class="tab"><a href="#test4">Thur</a></li>
        <li class="tab"><a href="#">Fri</a></li>
        <li class="tab"> <a href="#">Sat</a></li>
        <li class="tab"><a href="#">Sun</a></li>
    </ul>
   
  
  
  </div>
<div class="row">
  

<%- include("tag-list") %>
  </div>
<div class="section">
 
  
 
  
 

    <div class="col s8 m6">

      <div class="card blue-grey darken-1">

        <div class="card-content white-text">

          <span class="card-title">Card Title</span>

          <p>I am a very simple card. I am good at containing small bits of information.

          I am convenient because I require little markup to use effectively.</p>

        </div>

        <div class="card-action">

          <a href="#">This is a link</a>

          <a href="#">This is a link</a>
          
         </div>
          
          <div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
        
        

      </div>
  <nav class="pagination black" role="navigation" aria-label="pagination" style="margin:0;">
  <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list" style="margin:0;">
    <li>
      <a class="pagination-link" aria-label="Page 1" aria-current="page">1</a>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page 2">2</a>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page 3">3</a>
    </li>
  </ul>
</nav>
       

    </div>

  </div>
 
<div class="block center">
  

  <a class="btn btn-small purple center">Click Here To Add Your Event</a>
</div>
  <br>
  </section>
  
  




      
      


    

