<section class="hero is-primary is-centered">
  <div class="hero-body">
    <p class="title center is-underlined">
      WEEKLY EVENTS LIST
    </p>
    <p class="subtitle center is-italic"> 
      Powered by ... 
    </p>
 



 
  
    
    
    
    
    
    
    
    
  

  </div>

<ul class="tabs tabs-transparent purple">

        <li class="tab"><a href="#test1">Mon</a></li>

        <li class="tab"><a class="active" href="#test2">Tue</a></li>

        <li class="tab disabled"><a href="#test3">Wed</a></li>

        <li class="tab"><a href="#test4">Thur</a></li>
  <li class="tab"><a href="#">Fri</a></li>
<li class="tab"> <a href="#">Sat</a></li>
  <li class="tab"><a href="#">Sun</a></li>
      </ul>
    
  
  



  

<ul class="collection black-text">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title black-text">Title</span>
      <p>Hosted by...<br>
         Start Time...
        <span class="badge">8:00pm</span>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</section>

      
      


    

