<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Weekly Events
    </p>
  </div>

</section>     

 
<div class="tabs is-centered is-boxed is-medium">
  <ul>
    <li>
      <a>
        
        <span>Monday</span>
        
      </a>
    </li>
    <li>
      <a>
        
        <span>Tuesday</span>
      </a>
    </li>
    <li>
      <a>
        
        <span>Wednesday</span>
      </a>
    </li>
    <li>
      <a>
        
        <span>Thursday</span>
      </a>
    </li>
    <li>
      <a>
        
        <span>Friday</span>
      </a>
    </li>
    <li>
      <a>
        
        <span>Saturday</span>
      </a>
    </li>
    <li>
      <a>
        
        <span>Sunday</span>
      </a>
    </li>
  </ul>
</div>
  

      
     <%- include("team-card") %> 


    

