<div class="card purple  teal-text">
    <div class="card-content">
      <h1>
        Upcoming Events
      </h1>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Monday</a></li>
        <li class="tab"><a href="#test5">Wednesday</a></li>
        <li class="tab"><a href="#test6">Thursday</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">
        <div id="test4" class="card s8 black center darken-1"><span class="card-title"><img style="height:200; width:200; "src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg"></span>
        
          
          <span class="card-title yellow-text">SoO Ragnarok Scrim League</span>
          <iframe class="center" width="auto" height="auto" src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PLfSYTQwZgKiRfSt29lyzl2MvzKy6xW8ra" title="YouTube video player" frameborder="2" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <br> </br>
        </div>
        <div class="container">
          
    
          
          
        
      </div></div>
      
        <div id="test5" class="card teal darken-1"><span class="card-title">MONDAY'S</span>
        <div class="card-image">
          <img src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
         <span class="card-title">SoO Ragnarok</span>
          <div class="row">
           <div class="col s6">
          
           </div>
<div class="col s6">
  <p>Testing</p>
           </div> 
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div></div>
      <div id="test6"><div class="card teal darken-1"><span class="card-title">MONDAY'S</span>
        <div class="card-image">
          <img src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
          <span class="card-title">SoO Ragnarok</span>
          
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div></div>
    
</div>