    <div class="card purple  teal-text">
        <div class="card-content">
          <h1 class="center">
            Weekly Events
          </h1>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width teal">
            <li class="tab"><a class="active black-text" href="#test4">Monday</a></li>
            <li class="tab"><a class="black-text" href="#test5">Wednesday</a></li>
            <li class="tab"><a class="black-text" href="#test6">Thursday</a></li>
          </ul>
        </div>
        
          
            <div id="test4" class="card s12 black center darken-1">
              
              
                
                


                <div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img class="center" style="height:200; width:200; "src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#"><a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a></a>
        </div>
      </div>
    </div>
  </div>

            <div id="test5" class="card teal darken-1"><span class="card-title">MONDAY'S</span>
            <div class="card-image">
              <img src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
             <span class="card-title">SoO Ragnarok</span>
              <div class="row">
               <div class="col s6">

               </div>
    <div class="col s6">
      <p>Testing</p>
               </div> 
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div></div>
          <div id="test6"><div class="card teal darken-1"><span class="card-title">MONDAY'S</span>
            <div class="card-image">
              <img src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
              <span class="card-title">SoO Ragnarok</span>

            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div></div>

    </div>