<section class="hero is-primary is-centered">
  <div class="hero-body">
    <p class="title center">
      WEEKLY EVENTS
    </p>
  </div>



 <div class="tabs is-small is-centered">
  <ul>
    <li><a>Monday</a></li>
    <li><a>Tuesday</a></li>
    <li><a>Wednesday</a></li>
    <li><a>Thursday</a></li>
    <li><a>Friday</a></li>
    <li><a>Saturday</a></li>
    <li><a>Sunday</a></li>
  </ul>
</div>
    </div>
  </section>
  

  <%- include("event-card") %>

  




      
      


    

