<section class="hero is-primary is-centered">
  <div class="hero-body">
    <p class="title center is-underlined">
      WEEKLY EVENTS
    </p>
  </div>



 <div class="tabs is-small is-centered">
  <ul class="black-text">
    <li><a>Mon</a></li>
    <li><a>Tue</a></li>
    <li><a>Wed</a></li>
    <li><a>Thurs</a></li>
    <li><a>Fri</a></li>
    <li><a>Sat</a></li>
    <li><a>Sun</a></li>
  </ul>
</div>
    </div>
  </section>
  

  <%- include("event-card") %>

  




      
      


    

