<section class="hero is-black is-centered s-8">
  <div class="hero-body primary">
    <p class="title center is-underlined">
      EVENTS HUB
    </p>
    <p class="subtitle center is-italic"> 
      Powered by Rafiki - The Gaming Hub Bot
    </p>
  </div>
  
 
 
    
    <ul class="tabs is-boxed tabs-transparent purple">
        <li class="tab"><a href="#test1">Mon</a></li>
        <li class="tab"><a class="active" href="#test2">Tue</a></li>
        <li class="tab disabled"><a href="#test3">Wed</a></li>
        <li class="tab"><a href="#test4">Thur</a></li>
        <li class="tab"><a href="#">Fri</a></li>
        <li class="tab"> <a href="#">Sat</a></li>
        <li class="tab"><a href="#">Sun</a></li>
    </ul>
   
  
  
  </div>
<div class="row">
  

<%- include("tag-list") %>
  </div>
<div class="section">
 
  
 
  
 

    <div class="col s8 m6">

      
          <div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>EVENT NAME</strong> <small>@event_orgainiser</small>
          <br>
          <span class="tag is-link">PUBGM</span>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
      
      <a class="btn btn-small blue center">More Info</a>
      
        
      </nav>
    </div>
  </article>

        
        

      </div>
<nav class="pagination is-small black is-rounded" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    <li><a class="pagination-link is-current" aria-current="page" aria-label="Goto page 1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
    <li><a class="pagination-link " aria-label="Page 4" >4</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">5</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 7">7</a></li>
  </ul>
</nav>
  </br>

    </div>

  </div>
 
<div class="block center">
  

  <a class="btn btn-small purple center">Click Here To Add Your Event</a>
</div>
  <br>
  </section>
  
  




      
      


    

