    <div class="card purple lime-text accent-3">
        <div class="card-content">
          <h1 class="center">
            Weekly Events
          </h1>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width teal">
            <li class="tab"><a class="active black-text" href="#test4">Monday</a></li>
            <li class="tab"><a class="black-text" href="#test5">Wednesday</a></li>
            <li class="tab"><a class="black-text" href="#test6">Thursday</a></li>
          </ul>
        </div>
        
          
            
              
              
                
                


    <div id="test4" class="col s8 m6">
    <h2 class="header black center yellow-text">SoO Ragnarok Scrim League</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img style="height:200; width:200; "src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="https://discord.gg/9mcyx6r"><a class="waves-effect waves-light btn"><i class="material-icons left">create</i>Sign Up</a></a>
        </div>
      </div>
    </div>
  </div>

     <div id="test5" class="col s8 m6">
    <h2 class="header black center yellow-text">SoO Ragnarok Scrim League</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img style="height:200; width:200; "src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="https://discord.gg/9mcyx6r"><a class="waves-effect waves-light btn"><i class="material-icons left">create</i>Sign Up</a></a>
        </div>
      </div>
    </div>
  </div>     
      
      
      
    <div id="test6" class="col s8 m6">
    <h2 class="header black center red-text">Fusion Thirstdays Squad Scrims</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img style="height:200; width:200; "src="https://media.discordapp.net/attachments/920962525925883934/920968088470564885/FUSION_ELITE_LOGO.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="https://discord.gg/9mcyx6r"><a class="waves-effect waves-light btn"><i class="material-icons left">create</i>Sign Up</a></a>
        </div>
      </div>
    </div>
  </div>

    </div>