<section class="hero is-black is-centered s-8">
  <div class="hero-body primary">
    <p class="title center is-underlined">
      WEEKLY EVENTS
    </p>
    <p class="subtitle center is-italic"> 
      Powered by ... 
    </p>
  </div>
  
 
  
    <ul class="tabs tabs-transparent purple">
        <li class="tab"><a href="#test1">Mon</a></li>
        <li class="tab"><a class="active" href="#test2">Tue</a></li>
        <li class="tab disabled"><a href="#test3">Wed</a></li>
        <li class="tab"><a href="#test4">Thur</a></li>
        <li class="tab"><a href="#">Fri</a></li>
        <li class="tab"> <a href="#">Sat</a></li>
        <li class="tab"><a href="#">Sun</a></li>
    </ul>

<div class="section center s8 m12">
  <%- include("tag-list") %>
<div class="card">

    <div class="card-image waves-effect waves-block waves-light center" style="width:100px; height: 100px;">

      <img class="activator" src="https://cdn.glitch.global/0dc001d4-d461-4842-8ae3-eb2c13a2407a/53d1dbf25006904e648a82371454b985055efc3ad81b7ae10cf0dd09731e4c0f.0.png?v=1648815418568">

    </div>

    <div class="card-content">

      <span class="card-title activator grey-text text-darken-4">MATTITSU TEST EVENT<i class="material-icons right">more_vert</i></span>

      <p class="center"><a href="#">Click for more info</a></p>

    </div>

    <div class="card-reveal">

      <span class="card-title grey-text text-darken-4">MATTITSU EVENT INFO<i class="material-icons right">close</i></span>

      <p>8:00pm UK TIME </br> Here is some more information about this product that is only revealed once clicked on.</p>

    </div>

  </div>



  <a class="btn btn-small center purple right">Click Here To Add Your Event</a>
</div>
  </section>
  
  




      
      


    

