<section class="hero is-black is-centered s-8">
  <div class="hero-body primary">
    <p class="title center is-underlined">
      WEEKLY EVENTS
    </p>
    <p class="subtitle center is-italic"> 
      Powered by ... 
    </p>
 



 
  
    
    
    
    
    
    
    
    
  

  </div>

<ul class="tabs tabs-transparent purple">

        <li class="tab"><a href="#test1">Mon</a></li>

        <li class="tab"><a class="active" href="#test2">Tue</a></li>

        <li class="tab disabled"><a href="#test3">Wed</a></li>

        <li class="tab"><a href="#test4">Thur</a></li>
  <li class="tab"><a href="#">Fri</a></li>
<li class="tab"> <a href="#">Sat</a></li>
  <li class="tab"><a href="#">Sun</a></li>
      </ul>
    
  
  



  
<div class="container center">
<ul class="collection black-text">
    <li class="collection-item avatar">
      <img src="https://cdn.glitch.global/0dc001d4-d461-4842-8ae3-eb2c13a2407a/53d1dbf25006904e648a82371454b985055efc3ad81b7ae10cf0dd09731e4c0f.0.png?v=1648815418568" alt="" class="circle">
      <span class="title black-text">MATTITSU EVENT</span>
      <p>Hosted by MATTITSU<br>
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        
        
      </p>
      <a href="#!" class="badge">8:00pm UK TIME</a>
    </li>
  </br>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line </p>
         
      <p>2 </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
  
 </div> 

  <a class="btn btn-small center purple right">Click Here To Add Your Event</a>

  </section>
  
  




      
      


    

