<section class="hero is-primary is-centered">
  <div class="hero-body">
    <p class="title center is-underlined">
      WEEKLY EVENTS LIST
    </p>
    <p class="subtitle center is-italic"> 
      Powered by ... 
    </p>
  </div>



 <div class="tabs is-centered is-small">
  <ul class="black-text">
    <li><a>Mon</a></li>
    <li><a>Tue</a></li>
    <li><a>Wed</a></li>
    <li><a>Thurs</a></li>
    <li><a>Fri</a></li>
    <li><a>Sat</a></li>
    <li><a>Sun</a></li>
    
  

  

<ul class="tabs tabs-transparent purple">

        <li class="tab"><a href="#test1">Monday</a></li>

        <li class="tab"><a class="active" href="#test2">Tuesday</a></li>

        <li class="tab disabled"><a href="#test3">Wednesday</a></li>

        <li class="tab"><a href="#test4">Thursday</a></li>
  <li class="tab"><a href="#">Friday</a></li>
<li class="tab"> <a href="#">Saturday</a></li>
  <li class="tab"><a href="#">Sunday</a></li>
      </ul>
  </section>
  



  

<ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>


      
      


    

