<section class="hero black is-centered s-8">
  <div class="hero-body primary">
    <p class="title center is-underlined white-text">
      EVENTS HUB
    </p>
    <p class="subtitle center is-italic green-text"> 
      Powered by Rafiki - The Gaming Hub Bot
    </p>
    <p class="subtitle center is-italic green-text"> <%- include("tag-list") %> </p>
      
<%- include("event-card") %>
 
<br>
<nav class="pagination is-centered is-small black is-rounded" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    <li><a class="pagination-link is-current" aria-current="page" aria-label="Goto page 1">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
    <li><a class="pagination-link " aria-label="Page 4" >4</a></li>
    <li><a class="pagination-link" aria-label="Goto page 47">5</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a class="pagination-link" aria-label="Goto page 7">7</a></li>
  </ul>
</nav>
  </br>

    </div>

  </div>
 
<div class="block center">
  

  <a class="btn btn-small purple center">Click Here To Add Your Event</a>
</div>
  <br>
  </section>
  
  




      
      


    

