<div class="card">
    <div class="card-content">
      <h1>
        Upcoming Events
      </h1>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active"href="#test4">Monday</a></li>
        <li class="tab"><a href="#test5">Wednesday</a></li>
        <li class="tab"><a href="#test6">Thursday</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">Test 1</div>
      <div id="test5">Test 2</div>
      <div id="test6">Test 3</div>
    </div>
</div>