<section class="hero is-black is-centered s-8">
  <div class="hero-body primary">
    <p class="title center is-underlined">
      EVENTS HUB
    </p>
    <p class="subtitle center is-italic"> 
      Powered by Rafiki - The Gaming Hub Bot
    </p>
  </div>
  
 
 
    
    <ul class="tabs is-boxed tabs-transparent purple">
        <li class="tab"><a href="#test1">Mon</a></li>
        <li class="tab"><a class="active" href="#test2">Tue</a></li>
        <li class="tab disabled"><a href="#test3">Wed</a></li>
        <li class="tab"><a href="#test4">Thur</a></li>
        <li class="tab"><a href="#">Fri</a></li>
        <li class="tab"> <a href="#">Sat</a></li>
        <li class="tab"><a href="#">Sun</a></li>
    </ul>
   
  
  
  </div>
<div class="row">
  

<%- include("tag-list") %>
  </div>
<div class="section">
 
  
 
  
 

    <div class="col s8 m6">

      <div class="card blue-grey darken-1">

        <div class="card-content white-text">

          <span class="card-title">Card Title</span>

          <p>I am a very simple card. I am good at containing small bits of information.

          I am convenient because I require little markup to use effectively.</p>

        </div>

        <div class="card-action">

          <a href="#">This is a link</a>

          <a href="#">This is a link</a>
          
          <nav class="pagination blue-grey darken-1 is-small" role="navigation-new">

            <a class="pagination-previous">Previous</a>

            <a class="pagination-next">Next page</a>

  
          </nav>

        </div>
        

      </div>
      
       

    </div>

  </div>
 
<div class="block center">
  

  <a class="btn btn-small purple center">Click Here To Add Your Event</a>
</div>
  <br>
  </section>
  
  




      
      


    

