<%- include("../partials/header", { bot, user, path, title: "Select server" }) %>

<%- include("../partials/nav") %>
  
      
      


    <div class="card center s8 m8">
    
      <div class="card-body">
        <h5 class="card-title">Add Event</h5>
      
         
      <form>
        <div class="row">

    <form class="col">

      <div class="row">

        <div class="input-field col s6">

          <input id="host_name" type="text" class="validate">

          <label for="host_name">Host Name</label>

        </div>

        <div class="input-field col s6">

          <input id="event_name" type="text" class="validate">

          <label for="event_name">Event Name</label>

        </div>

      </div>

      <div class="row">

        <div class="input-field col s12">

          <input disabled value="I am not editable" id="disabled" type="text" class="validate">

          <label for="disabled">Disabled</label>

        </div>

      </div>

      <div class="row">

        <div class="input-field col s12">

          <input id="password" type="password" class="validate">

          <label for="password">Password</label>

        </div>

      </div>

      <div class="row">

        <div class="input-field col s12">

          <input id="email" type="email" class="validate">

          <label for="email">Email</label>

        </div>

      </div>

    </form>

  </div>
  <div class="mb-3">
    <label for="InputEvent1" class="form-label">Event Name</label>
    <input type="text" class="form-control" id="eventName" aria-describedby="eventHelp">
    <div id="eventHelp" class="form-text">Your event name here</div>
  </div>
  <div class="mb-3">
for="exampleInputPassword1" class="form-label">Password</label>
 


   
    
    

  

  

   

  


 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        
          
          
        
      </div>
    </div>
  
      

</div>

<%- include("../partials/footer") %>