<%- include("../partials/header", { bot, user, path, title: "Select server" }) %>

  
      
      


    <div class="card center s8 m8">
    
      <div class="card-body">
        <h5 class="card-title">Add Event</h5>
      
         
      <form>
        <div class="row">

    <form class="col">

      <div class="row">

        <div class="input-field col s6">

          <input id="host_name" type="text" class="validate">

          <label for="host_name">Host Name</label>

        </div>

        <div class="input-field col s6">

          <input id="event_name" type="text" class="validate">

          <label for="event_name">Event Name</label>

        </div>

      </div>
      
      <div class="row">

        <div class="input-field col s6">

          <input id="host_name" type="date" class="validate">

          <label for="host_name">Event Date</label>

        </div>
        
        <div class="input-field col s6">

          <input id="host_name" type="text" class="validate">

          <label for="host_name">Organiser Discord Tag</label>

        </div>



      </div>

      

      

      

    </form>

  </div>
  
  <div class="mb-3">



 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        
          
          
        
      </div>
    </div>
  
      

</div>

<%- include("../partials/footer") %>