<style>
.column {
  height: 200px;
  margin: 10px;
  text-align: center;
  font-size: 2em;
-webkit-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
-moz-box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
box-shadow: -7px 11px 25px -9px rgba(0,0,0,1);
}

.column p {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.brand {
  min-height: 3rem;
  background: #212;
}

.brand-title, .brand-title:hover, .brand-title:focus {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin-left: 0.6rem;
  text-transform: uppercase;
}

.img1 {
  background: url('https://images.unsplash.com/photo-1447078806655-40579c2520d6?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  background: url('https://images.unsplash.com/photo-1445295029071-5151176738d0?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');
  background-size: cover;
  background-repeat: no-repeat;
}

.img3 {
  background: url('https://images.unsplash.com/photo-1447069387593-a5de0862481e?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');
  background-size: cover;
  background-repeat: no-repeat;
}

</style>

<section class="section cards">
<div class="container">
  <div class="columns is-multiline">
    <div class="column img1 toaster is-quarter">
      <p>Ragnarok Season One</p>
      <button class="button">More Info</button>
    </div>
    <div class="column img2 xpro2 is-quarter">
      <p>Ragnarok Season Two</p>
      <button class="button">Register Now</button>
    </div>
    <div class="column img3 willow is-quarter">
      <p>More Events</p>
      <button class="button">Coming Soon</button>
    </div>
  </div>
</div>
</section>