<%- include("../partials/header", { bot, user, path, title: "Add User" }) %>

<div class="container">
  <div class="hero-body">
    <p class="title center is-underlined">
      Add Team
    </p>
    
  </div>
  

<div class="field">

  <label class="label">Team Name</label>

  <div class="control">

    <input class="input" type="text" placeholder="e.g Sons Of Odin">

  </div>

</div>

<div class="field">

  <label class="label">Manager's Username</label>

  <div class="control">

    <input class="input" type="email" placeholder="@mattitsu">

  </div>

</div>
    </div>
 
  <%- include("../partials/footer") %>