<%- include("../partials/header", { bot, user, path, title: "Add User" }) %>

<div class="container center">
  <div class="hero-body">
    <p class="title center is-underlined">
      Add Team
    </p>
    <p class="center">
      Use this form to add your team to our database to enable more features. </br>For more information please see our help guide.
    </p>
  </div>
  

<div class="field">

  <label class="label">Team Name</label>

  <div class="control">

    <input class="input" type="text" placeholder="e.g Sons Of Odin">

  </div>

</div>

<div class="field">

  <label class="label">Manager's Username</label>

  <div class="control">

    <input class="input" type="email" placeholder="@mattitsu">

  </div>

</div>

  <div class="field">

  <label class="label">Team Tag</label>

  <div class="control">

    <input class="input" type="email" placeholder="LHZ (3 Char Max)">

  </div>

</div>
    </div>
 
  <%- include("../partials/footer") %>