<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">

  <div class="d-grid gap-2 col-8 mx-auto">

    <h2>Events Dashboard</h2>

    
<div class="card mb-3" style="max-width: 540px;">

  <div class="row g-0">

    <div class="col-md-4">

      <img src="..." class="img-fluid rounded-start" alt="...">

    </div>

    <div class="col-md-10">

      <div class="card-body">

        <h5 class="card-title">Event Title</h5>

        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        <p class="card-text"><small class="text-muted">Event Host</small></p>

      </div>

    </div>

  </div>

</div>
  

    <div class="list-group" id="list-tab" role="tablist">

      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>

      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>

      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>

      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>

   

  

  

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>

      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>

      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>

      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>

    </div>

  </div>

</div>

    

  

   

    

    

    

  

  


    </div>
<div class="d-grid gap-2 col-8 mx-auto" style="margin-top: 25px;">
    <a class="btn btn-primary text-white "href="#">Add / Edit Event</a>

  </div>

</div>

<%- include("partials/footer") %>