  <%- include("partials/header", { bot, user, path, title: "Home" }) %>

   
    
  <%- include("partials/upcoming_bar") %>


      

    


       
    

      
  <div class="row center deep-purple">
   

    

    <div class="col center m4">
            
      
    </div>
    <div class="col center m4">
      <div class="card teal darken-1"><span class="card-title">MONDAY'S</span>
        <div class="card-image">
          <img src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
          <span class="card-title">SoO Ragnarok</span>
          
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
      
    </div>
    <div class="col center  m4">
      <div class="card teal darken-1"><span class="card-title">MONDAY'S</span>
        <div class="card-image">
          <img src="https://cdn.discordapp.com/attachments/913210583686451240/913211713854263376/20201015_150918-1-1.jpg">
          <span class="card-title">SoO Ragnarok</span>
          
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
  </div>
     
    </div>

            

    </div>

<section class="center s8 m4">
  <div class="col center s12">
      <iframe width="auto" height="150" src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PLfSYTQwZgKiQxI0R9-iGCBJqL97G-tZsA" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
 
      <iframe width="auto" height="150" src="https://www.youtube.com/embed/50pdseC-D90?controls=0" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
  </div>
    
    <br></br>

<div class="container s12 deep-purple">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block white">
              <h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">PUBGM SCRIM CASTS</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block white">
              <h2 class="center teal-text"><i class="material-icons">group</i></h2>
              <h5 class="center">EVENT MANAGEMENT</h5>

              <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block white">
              <h2 class="center teal-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">SUPPORT & DEVELOPMENT</h5>

              <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>
    

</div>



  <%- include("partials/footer") %>