  <%- include("partials/header", { bot, user, path, title: "Home" }) %>

  

  <%- include("partials/upcoming_bar") %>

  
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title center is-underlined">
      Previous Events
    </p>
  </div>

    


 
  

  
 


  

  
</div>
  </section>
   
  


  
  <section class="hero is-danger">
    <div class="hero-body"><p class="title center is-underlined">
      OTHER THINGS ON THIS SITE </p>
    </div>
  
<div class="buttons">
  <div class="btn  ">
    
        Streamer Showcase 
</div>
  <div class="btn  ">
    
        Streamer Showcase 
</div>
  <div class="btn  ">
    
        Streamer Showcase 
</div>
  </div>
<div class="card">

  <div class="card-header">

    <p class="card-header-title is-centered">

      Org/Team Showcase

    </p>

    </div>
  </div>
<div class="card">
  <div class="card-header">
    <p class="card-header-title is-centered">
      Other
     </p>
  </div>

  </div>
 

</div>
  </div>
    
    </section> 
    
     
        
          
            
        
        
          
      
     
   




  <%- include("partials/footer") %>