  <%- include("partials/header", { bot, user, path, title: "Home" }) %>

  

  <%- include("partials/upcoming_bar") %>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title center is-underlined">
      LIVE SCRIM REPLAYS
    </p>
  </div>

    


 <div class="row">
  <div class="column center">
    <iframe width="auto" height="150" src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PLfSYTQwZgKiQxI0R9-iGCBJqL97G-tZsA" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>
  <div class="column center">
    <iframe width="auto" height="150" src="https://www.youtube.com/embed/50pdseC-D90?controls=0" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> 
  

  
</div>
  </section>
   
  


  
  <section class="hero is-danger">
    <div class="hero-body"><p class="title center is-underlined">
      OTHER EVENTS </p>
    </div>
  
<div class="container">
<div class="card">

  <div class="card-content">

    <p class="title">

      “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”

    </p>

    <p class="subtitle">

      Jeff Atwood

    </p>

  </div>

  <footer class="card-footer">

    <p class="card-footer-item">

      <span>

        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>

      </span>

    </p>

    <p class="card-footer-item">

      <span>

        Share on <a href="#">Facebook</a>

      </span>

    </p>

  </footer>

</div>
  </div>
    
    </section> 
    
     
        
          
            
        
        
          
      
     
   
<section class="hero is-primary">
<div class="hero-body">
   <p class="title center is-underlined">
    More Information
  </p>
  </div>
        <!--   Icon Section   -->
        <div class="container">
          <div class="box">
            <div class="content">
              <h2 class="center teal-text"><i class="material-icons">tv</i></h2>
              <h5 class="center">PUBGM SCRIM CASTS</h5>

              <p class="light center">We did most of the heavy lifting for you to provide a default stylings 
                that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</br></p>
                <button class="button is-rounded is-fullwidth is-info">More Info</button>
            </div>
          </div>

          <div class="box">
            <div class="content">
              <h2 class="center teal-text"><i class="material-icons">group</i></h2>
              <h5 class="center">EVENT MANAGEMENT</h5>

              <p class="light center">By utilizing elements and principles of Material Design, 
                we were able to create a framework that incorporates components and animations 
                that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
            <button class="button is-rounded is-fullwidth is-info">More Info</button>
            </div>
          </div>

          <div class="box">
            <div class="content">
              <h2 class="center teal-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">SUPPORT & DEVELOPMENT</h5>

              <p class="light center">We have provided detailed documentation as well as 
                specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
            <button class="button is-rounded is-fullwidth is-info">More Info</button>
            </div>
            
          </div>
    </br>
        </div>
    

</section>
<section class="hero is-danger">
            <div class="hero-body"><p class="title center">
                                    <button class="button is-large is-fullwidth is-info is-underlined">Catch up in real-time on Discord</button></p>
  </div>                          
<div class="container center s12">
      <iframe src="https://discord.com/widget?id=887320195507568651&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  <br></br>  
</div>
    </section>



  <%- include("partials/footer") %>