<%- include("partials/header", { bot, user, path, title: "Select server" }) %>


  
    <section class="hero yellow is-medium">

  <div class="hero-head">

    <nav class="navbar">

      <div class="container">

        <div class="navbar-brand">

          <a class="navbar-item">

             Son's Of Odin

          </a>

          <span class="navbar-burger" data-target="navbarMenuHeroB">

            <span></span>

            <span></span>

            <span></span>

          </span>

        </div>

        <div id="navbarMenuHeroB" class="navbar-menu">

          <div class="navbar-end">

            <a class="navbar-item is-active">

              Home

            </a>

            <a class="navbar-item">

              About Us

            </a>

          

            <span class="navbar-item">

              <a class="button is-info is-inverted">

                <span class="icon">

                  <i class="fab fa-discord"></i>

                </span>

                <span>Discord</span>

              </a>

            </span>

          </div>

        </div>

      </div>

    </nav>

  </div>

  <div class="hero-body">

    <div class="container has-text-centered">

      <p class="title">

        Ragnarok Scrim League

      </p>

      <p class="subtitle">

        PUBG Mobile Scrim League hosted by SoO

      </p>

    </div>

  </div>

  <div class="hero-foot">

    <nav class="tabs is-boxed is-fullwidth">

      <div class="container">

        <ul>

          <li class="is-active">

            <a>Season One</a>

          </li>

          <li>

            <a>Season Two</a>

          </li>

          

        </ul>

      </div>

    </nav>

  </div>

</section>


  


<section class="hero black">
    <div class="hero-body"><p class="title center is-underlined green-text">
      OTHER THINGS ON THIS SITE </p>
    </div>
  <div class="buttons is-centered">
  <button class="button is-success">STREAMER CENTRAL</button>
  <button class="button is-info">GAME NEWS & INFORMATION</button>
  <button class="button is-danger">DISCORD BOT CONFIGURATION</button>
  <button class="button is-danger">Team & Event Oraginsation</button>
</div>
  <br>
</section> 

  <%- include("partials/footer") %>