<%- include("partials/header", { bot, user, path, title: "Sons Of Odin" }) %>
  
  <div id="tabs-with-content">
  <div class="tabs is-centered">
    <ul>
      <li><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>
  <div>
    <section class="tab-content">Pictures content</section>
    <section class="tab-content">Music content</section>
    <section class="tab-content">Videos content</section>
    <section class="tab-content">Documents content</section>
  </div>
</div>

   <section class="hero is-medium is-warning mb-5"> 

     <div class="hero-head"> 

 

     </div> 

     <div class="hero-body"> 

       

         <p class="title text-white">About Us</p>

         <p class="post-excerpt">


              

           Sons of Odin 父 clan was formed by HEATHENWULF in 2018 during season 2 of pubg mobile. We are UK based but have members from all over the world also. Although mostly a social clan, we do occasionally dip our toes into the competitive arena usually with good results and most recently SONS of ODIN became PMCO spring split 2021 UK region FINALISTS. Our clan is loyal, and most members are OG. The Sons of Odin 父 clan are known throughout the uk and eu clans as the creators of the infamous DEATHRACE pubg. A format which is proving to be a popular and fun alternative to the competitive scene.







         </p> 

       

     </div> 

   </section> 


<section class="hero is-small is-warning">

  <div class="hero-body">

    <p class="title">

      Our Events

    </p>

    

     

    

  </div>

</section>

<section class="hero is-small is-warning">

  <div class="hero-body">

    <p class="title">

      Our Teams

    </p>

    

      

    

  </div>

</section>

   <section class="blog-posts"> 

     <div class="container "> 

       <div class="columns is-centered"> 

         <div class="column is-10"> 

           <div class="columns is-multiline"> 

             <div class="column post is-6"> 

               <article class="columns is-multiline"> 

                 <div class="column is-12 post-img"> 

                   <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image"> 

                 </div> 

                 <div class="column is-12 featured-content "> 

                   <h3 class="heading post-category">PUBGM</h3> 

                   <h1 class="title post-title">Ranarok Season One</h1> 

                   <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p> 

                   <br> 

                   <a href="#" class="button is-primary">Read More</a> 

                 </div> 

               </article> 

             </div> 

             <div class="column post is-6"> 

               <article class="columns is-multiline"> 

                 <div class="column is-12 post-img"> 

                   <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image"> 

                 </div> 

                 <div class="column is-12 featured-content "> 

                   <h3 class="heading post-category">PUBGM</h3> 

                   <h1 class="title post-title">Ranarok Season Two (Currently Playing)</h1> 

                   <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p> 

                   <br> 

                   <a href="#" class="button is-primary">Read More</a> 

                 </div> 

               </article> 

             </div> 
             
             </section>

            

             

 

           </div> 

         </div> 

       </div> 

  

   </section>
  
  
  <%- include ('partials/footer') %>