<%- include("partials/header", { bot, user, path, title: "Dashboard/Organisations" }) %>
  <section class="hero is-large yellow">

  <div class="hero-body">

    <div class="container">
<img class="py0 my0" src="https://cdn.glitch.global/0dc001d4-d461-4842-8ae3-eb2c13a2407a/6B5BB43B-8333-473C-A2E6-F37FE3FB289A.png?v=1651912733023"></img>

    </div>

  </div>

</section>
  <div id="tabs-with-content">
  <div class="tabs is-centered is-boxed black has-text-yellow is-medium">
    <ul>
      <li class="yellow"><a>About Us</a></li>
      <li class="yellow"><a>Our Events</a></li>
      <li class="yellow"><a>Our Teams</a></li>
      
    </ul>
  </div>
  <div>
    <section class="tab-content black">
    <section class="hero is-medium yellow">
      <div class="hero-body center"> 
         
          <p class="post-excerpt is-centered">
</p> 
       </div> 
    </section> 
    </section>

<section class="tab-content black">
<section class="hero is-medium yellow">
      <div class="hero-body center">
    <%- include("events/rr") %>
   </div> 
    </section>
</section> 
<section class="tab-content"></section>
<section class="tab-content">Documents content</section>
</div>
</div>
<%- include ('partials/footer') %>