<%- include("partials/header", { bot, user, path, title: "Dashboard/Organisations" }) %>
  <section class="hero is-large yellow">

  <div class="hero-body">

    <div class="has-text-centered is-2">
<img class="" src="https://cdn.glitch.global/0dc001d4-d461-4842-8ae3-eb2c13a2407a/6B5BB43B-8333-473C-A2E6-F37FE3FB289A.png?v=1651912733023"></img>

    </div>

  </div>

</section>
  <div id="tabs-with-content">
  <div class="tabs is-centered is-boxed black text-yellow is-medium">
    <ul>
      <li><a>About Us</a></li>
      <li><a>Our Events</a></li>
      <li><a>Our Teams</a></li>
      
    </ul>
  </div>
  <div>
    <section class="tab-content black">
    <section class="hero is-medium yellow">
      <div class="hero-body center"> 
         
          <p class="post-excerpt is-centered">
Sons of Odin 父 clan was formed by HEATHENWULF in 2018 during season 2 of pubg mobile. We are UK based but have members from all over the world also. Although mostly a social clan, we do occasionally dip our toes into the competitive arena usually with good results and most recently SONS of ODIN became PMCO spring split 2021 UK region FINALISTS. Our clan is loyal, and most members are OG. The Sons of Odin 父 clan are known throughout the uk and eu clans as the creators of the infamous DEATHRACE pubg. A format which is proving to be a popular and fun alternative to the competitive scene.
        </p> 
       </div> 
    </section> 
    </section>

<section class="tab-content black">
<section class="hero is-medium yellow">
      <div class="hero-body center">
    <%- include("events/rr") %>
   </div> 
    </section>
</section> 
<section class="tab-content"></section>
<section class="tab-content">Documents content</section>
</div>
</div>
<%- include ('partials/footer') %>