  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
<body>
  <section>
  <div class="pricing-table is-horizontal">
  <div class="pricing-plan">
    <div class="plan-header">Starter</div>
    <div class="plan-items">
      <div class="plan-item">20GB Storage</div>
      <div class="plan-item">100 Domains</div>
      <div class="plan-item">-</div>
      <div class="plan-item">-</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
      <button class="button is-fullwidth" disabled="disabled">Current plan</button>
    </div>
  </div>

  <div class="pricing-plan is-warning">
    <div class="plan-header">Startups</div>
    <div class="plan-items">
      <div class="plan-item">20GB Storage</div>
      <div class="plan-item">25 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">-</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-active">
    <div class="plan-header">Growing Team</div>
    <div class="plan-items">
      <div class="plan-item">200GB Storage</div>
      <div class="plan-item">50 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">100 Email Boxes</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>

  <div class="pricing-plan is-danger">
    <div class="plan-header">Enterprise</div>
    <div class="plan-items">
      <div class="plan-item">2TB Storage</div>
      <div class="plan-item">100 Domains</div>
      <div class="plan-item">1TB Bandwidth</div>
      <div class="plan-item">1000 Email Boxes</div>
    </div>
    <div class="plan-footer">
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
      <button class="button is-fullwidth">Choose</button>
    </div>
  </div>
</div>
  

   <section class="hero is-medium is-warning mb-5"> 

     <div class="hero-head"> 

 

     </div> 

     <div class="hero-body"> 

       <div class="container has-text-centered title"> 

         <strong> Ragnarok PUBGM Scrim League </strong>

         <h2 class="subtitle"> 

           <br>Monday's & Wednesday's <br> 8pm UK Time </br>PUBGM Squad Scrims (EU Server) 

         </h2> 

       </div> 

     </div> 

   </section> 

   <section class="blog-posts"> 

     <div class="container"> 

       <div class="columns"> 

         <div class="column is-10"> 

           <div class="columns is-multiline"> 

             <div class="column post is-6"> 

               <article class="columns is-multiline"> 

                 <div class="column is-12 post-img"> 

                   <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image"> 

                 </div> 

                 <div class="column is-12 featured-content "> 

                   <h3 class="heading post-category">PUBGM</h3> 

                   <h1 class="title post-title">Ranarok Season One</h1> 

                   <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p> 

                   <br> 

                   <a href="#" class="button is-primary">Read More</a> 

                 </div> 

               </article> 

             </div> 

             <div class="column post is-6"> 

               <article class="columns is-multiline"> 

                 <div class="column is-12 post-img"> 

                   <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image"> 

                 </div> 

                 <div class="column is-12 featured-content "> 

                   <h3 class="heading post-category">PUBGM</h3> 

                   <h1 class="title post-title">Ranarok Season Two (Currently Playing)</h1> 

                   <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p> 

                   <br> 

                   <a href="#" class="button is-primary">Read More</a> 

                 </div> 

               </article> 

             </div> 
             
             </section>

            

             

 

           </div> 

         </div> 

       </div> 

  

   </section>
     
   